{% extends '@App/task_abstract/index.html.twig' %}
{% set title = 'todo.index.title'|trans %}
{% set fields = ['date', 'done'] %}
{% set sort_field = 'date' %}


{% block values %}
    {{ parent() }}
    <td>{{ task.date ?? '' ? task.date|date("d-m-Y") : '' }}</td>
    <td>{{ task.done ? 'field.any.value.yes'|trans : 'field.any.value.no'|trans  }}</td>
{% endblock %}